<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="MyPayrollLibrary.Properties.Settings.MyPayRollConnectionString" connectionString="Data Source=.;Initial Catalog=MyPayRoll;User ID=db_hd;Password=login" providerName="System.Data.SqlClient" />
    <add name="DB_HDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=DB_HD;Persist Security Info=True;User ID=db_hd;Password=login;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MyPayRollEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MyPayRoll;User ID=db_hd;Password=login;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>